body {
  background: #fff;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  }

.wraper {
  display: flex;
  justify-content: center;
}

.content {
  width: 400px;
  min-height: 500px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}

.menu {
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  font-size: 2em;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease .3s;
  margin-bottom: 10px;
  color: #3f51b5;

}

.item:hover {
  background-color: #3f51b5;
  color: #fff;
}

.item:active {
  opacity: .3;
  transition: ease .1s;
}
