.wrap {
  margin: auto;
  width: 340px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, .03);
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: #3f51b5;
}

.add_task {
  display: flex;
  justify-content: space-between;
}

.add_task button {
  align-self: flex-end;
}

.add_task > div {
  margin-right: 20px;
}
