body {
  background: #fff;
  padding: 0;
  margin: 0;
}

.wrap {
  margin: 0 auto;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: #3f51b5;
  position: relative;
}
